body{
 margin:0;
 background:#e9e3db;
 font-family:Inter;
}

/* HERO */
.hero{
 position:relative;
 height:100vh;
 display:flex;
 align-items:center;
 justify-content:center;
 overflow:hidden;
}

.bg-text{
 position:absolute;
 font-size:180px;
 font-family:Playfair Display;
 color:#f08ab0;
 opacity:.9;
 text-align:center;
}

.hand{
 position:absolute;
 top:40px;
 left:60px;
 font-family:Patrick Hand;
 font-size:28px;
}

.guide{
 position:absolute;
 top:90px;
 right:80px;
 font-family:Patrick Hand;
}

.hero-img{
 width:320px;
 z-index:2;
 filter:grayscale(1);
}

/* GRID */
.grid{
 display:grid;
 grid-template-columns:1fr 1fr;
 gap:25px;
 padding:40px;
}

.card{
 background:#f3efe9;
 padding:30px;
 min-height:250px;
 position:relative;
}

/* text block */
.text{
 font-size:18px;
 line-height:1.6;
}

/* image blocks */
.images img{
 width:48%;
 margin:1%;
}

/* collage */
.collage img{
 width:100%;
}

/* quote */
.quote h2{
 font-size:40px;
 color:#777;
 font-weight:500;
}

/* skills */
.skills{
 text-align:center;
}

.skills h2{
 font-family:Playfair Display;
 font-size:60px;
 color:#f08ab0;
}

/* ending */
.end{
 background:#efe6df;
 display:flex;
 align-items:center;
 justify-content:center;
}

.end h1{
 font-size:60px;
}